.container{
    background-color: rgb(248, 236, 5);
    max-width: 400px;
    border: solid 2px green;
    border-radius: 15px;
    padding: 35px;
}


h3{
    color: blueviolet;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



label{
    padding-left: 30%;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}


input[type="text"],input[type="password"]{

    padding: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    border: white;
    border-radius: 18px;
    border: solid 1px black;
}

input[type="submit"]{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 9px;
    margin-left: 30%;
    width: 184px;
    margin-top: 2%;
    border-radius: 15px;
    align-items: center;
}

.con{
    display: flex;
    justify-content: center;
}